{% if prometheus_monitor_components.cluster.blackbox  %}
  {% set all_hosts = (groups['blackbox_targets']) %}
  {% set hosts = all_hosts | unique %}
  {% for host in hosts %}
- job_name: '{{ host }}-blackbox-exporter'
  honor_labels: true
  metrics_path: /probe
  params:
    module: [http_2xx]
  static_configs:
    - targets:
      - https://google.com
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ hostvars[host].metrics_exporter_ip }}:{{ blackbox_exporter_port | string }}
  {% endfor %}
{% endif %}
