#jinja2: trim_blocks: True, lstrip_blocks: True
#{% include './templates/scrape-configs/external/ceph.yaml.j2' %}
#{% include './templates/scrape-configs/external/compute-nodes.yaml.j2' %}
#{% include './templates/scrape-configs/external/dev-nodes.yaml.j2' %}
#{% include './templates/scrape-configs/external/dns.yaml.j2' %}
#{% include './templates/scrape-configs/external/haproxy.yaml.j2' %}
#{% include './templates/scrape-configs/external/infra-nodes.yaml.j2' %}
#{% include './templates/scrape-configs/external/network-nodes.yaml.j2' %}
#{% include './templates/scrape-configs/external/prometheus-blackbox.yaml.j2' %}
#{% include './templates/scrape-configs/external/rackhd.yaml.j2' %}
#{% include './templates/scrape-configs/external/ssl-compute-nodes.yaml.j2' %}
#{% include './templates/scrape-configs/external/storage-nodes.yaml.j2' %}
#{% include './templates/scrape-configs/cluster/node-blackbox.yaml.j2' %}
#{% include './templates/scrape-configs/cluster/cilium.yaml.j2' %}
#{% include './templates/scrape-configs/cluster/etcd-k8s.yaml.j2' %}
