fullnameOverride: {{ prometheus_operator_chart_release_name }}


operator:
  enabled: {{ prometheus_operator_config.enabled }}
  createCustomResource: {{ prometheus_operator_config.createCustomResource  }}
  resources:
    {{ prometheus_operator_config.resources | to_nice_yaml(indent=2) | indent(width=4) }}
  podAntiAffinity: hard
  podAntiAffinityTopologyKey: "kubernetes.io/hostname"
  configReloaderCpu: {{ prometheus_operator_config.configReloaderCpu  }}
  configReloaderMemory: {{ prometheus_operator_config.configReloaderMemory  }}
  logLevel: {{ prometheus_operator_config.logLevel }}

  kubeletService:
    enabled: true
    namespace: kube-system

## Deploy a Prometheus instance
##
prometheus:
  enabled: {{ prometheus_config.enabled }}
  replicaCount:  {{ prometheus_config.replicaCount  }}
  ingress:
    {{ prometheus_config.ingress  | to_nice_yaml(indent=2) | indent(width=4) }}
  resources:
    {{ prometheus_config.resources  | to_nice_yaml(indent=2) | indent(width=4) }}
  podAntiAffinity: hard
  podAntiAffinityTopologyKey: "kubernetes.io/hostname"
  scrapeInterval: {{ prometheus_config.scrapeInterval  }}
  evaluationInterval: {{ prometheus_config.evaluationInterval  }}
  retention: {{ prometheus_config.retention  }}
  enableAdminAPI: false
  enableFeatures: {{ prometheus_enabled_features }}
  externalLabels:
    region: {{ monitoring_region_name }}
    zone: {{ monitoring_zone_name }}
    cluster: {{ monitoring_k8s_cluster }}

  serviceMonitorNamespaceSelector:
    matchExpressions:
      - key: cloudmobility.io/managed
        operator: In
        values:
          - "true"
      - key: cloudmobility.io/team
        operator: In
        values:
          - "sre"
          - "infra"

  logLevel: {{ prometheus_config.logLevel  }}
  persistence:
    enabled: {{ prometheus_config.persistence.enabled  }}
    storageClass: {{ prometheus_config.persistence.storageClass  }}
    size: {{ prometheus_config.persistence.size  }}

  disableCompaction: true
  additionalPrometheusRules: []
  additionalScrapeConfigsExternal:
    enabled: true
    name: {{ k8s_prometheus_scrape_config_secret_name }}
    key: "scrapeConfig"

alertmanager:
  enabled: {{ alertmanager_values.enabled }}
  replicaCount: {{ alertmanager_values.replicaCount  }}
  ingress:
    {{ alertmanager_values.ingress  | to_nice_yaml(indent=2) | indent(width=4) }}
  resources:
    {{ alertmanager_values.resources | to_nice_yaml(indent=2) | indent(width=4) }}
  podAntiAffinity: hard
  podAntiAffinityTopologyKey: "kubernetes.io/hostname"
  config:
{% include './templates/alertmanager-config.yaml.j2' %}

  logLevel: {{ alertmanager_values.logLevel }}
  retention: {{ alertmanager_values.retention  }}
  persistence:
    enabled: {{ alertmanager_values.persistence.enabled  }}
    storageClass: {{ alertmanager_values.persistence.storageClass }}
    size: {{ alertmanager_values.persistence.size  }}

exporters:
  node-exporter:
    enabled: false
  kube-state-metrics:
    enabled: {{ prometheus_monitor_components.cluster.kubeStateMetrics and prometheus_operator_config.enabled }}

kube-state-metrics:
  replicaCount: {{ monitoring_kube_state_metrics_replica_count }}
  service:
    type: {{ monitoring_kube_state_metrics_service_type }}
    loadBalancerIP: {{ kube_state_metrics_load_balancer_ip }}
  hostNetwork: false
  serviceMonitor:
    enabled: {{ prometheus_monitor_components.cluster.kubeStateMetrics }}
    honorLabels: true

kubeApiServer:
  enabled: {{ prometheus_monitor_components.cluster.kubeApiServer }}
kubeControllerManager:
  enabled: {{ prometheus_monitor_components.cluster.kubeControllerManager }}
  service:
    enabled: {{ prometheus_monitor_components.cluster.kubeControllerManager }}
    port: 10257
    targetPort: 10257
  serviceMonitor:
    https: true
    insecureSkipVerify: true
kubeScheduler:
  enabled: {{ prometheus_monitor_components.cluster.kubeScheduler }}
  service:
    enabled: {{ prometheus_monitor_components.cluster.kubeScheduler }}
    port: 10259
    targetPort: 10259
  serviceMonitor:
    https: true
    insecureSkipVerify: true
coreDns:
  enabled: {{ prometheus_monitor_components.cluster.coreDns }}
kubeProxy:
  enabled: {{ prometheus_monitor_components.cluster.kubeProxy }}
kubelet:
  enabled: {{ prometheus_monitor_components.cluster.kubelet }}
  serviceMonitor:
    cAdvisorRelabelings:
      - sourceLabels: [__metrics_path__]
        targetLabel: metrics_path
    relabelings:
      - sourceLabels: [__metrics_path__]
        targetLabel: metrics_path
